<!DOCTYPE html>
<html>
<head>
    <title>Crime Analysis System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="welcome">

    <div class="card">
        <h1>🚨 Crime Pattern Detection & Analysis</h1>
        <p class="quote">
            “Prevent crime by understanding patterns before they happen.”
        </p>

        <div class="buttons">
            <a href="/current" class="btn blue">Predict Current Crime</a>
            <a href="/future" class="btn purple">Future Crime Prediction</a>
        </div>
    </div>

</body>
</html>

