<!DOCTYPE html>
<html>
<head>
    <title>Upload Dataset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="gradient-purple">

<div class="form-card">

    <h2>📂 Upload Crime Dataset</h2>

    <form method="POST" enctype="multipart/form-data">

        <input type="file" name="file" accept=".csv" required>

        <br><br>

        <button type="submit" class="btn purple">
            Upload Dataset
        </button>

    </form>

    <br>

    <a href="/dashboard" class="btn back-btn">
        ⬅ Back to Dashboard
    </a>

</div>

</body>
</html>